*{
  margin: 0;  
  font-family: sans-serif;
  padding: 0;
  box-sizing: border-box;
  color: 222831;
}
body{
min-height: 100vh;
background-color: #EEEEEE;
margin: auto;
margin-top: 1vh;
width: 960px;
}
/* Tittle */
h1{
min-height: 2vh;
font-size: 5vh;
margin: 1vh;
margin-bottom: 2%;
text-align:center;
top: 2vh;
left: 10vh;
}


/*NAV ITEMS*/
.nav-item{   
position: relative;
top: 2.5%;
left: 29%;
width: 100%;
font-weight: 600;
z-index: 1;
font-size: 2.3vh;
background-color: #222831;
color: whitesmoke;
padding: 1vh;
text-decoration: none;
margin-left: 0.5rem;
margin-right: auto;
text-align: center;
}

nav{
    background-color: #222831;
    height: 40vh;
    display: block;  
    margin-bottom: 12vh;
}
    

.nav-item:hover{
    background-color: #EEEEEE;
    color: #222831
}

/*Image Nav*/
nav img {   
z-index: 1;   
position: relative;
top: 4%;
width: 100%;
height: 40vh;
object-fit:cover; 
justify-content: center;
}


#subtittle{
font-size: 3vh;
border: #222831 5px solid;
width: 100%;
left: 0;
margin-top: 1rem;
text-align: center;
padding: 1vh;
}

/*Logo*/
#nav-logo{
position: relative;
z-index:3;
top: -17%;
width: 100%;
height: 40%;
margin: 0%;
object-fit: contain;
text-align: center;
}

.principal-section{
margin-top: 3vh;
display: block;
width: 100%;
font-size: 2vh;
text-align: center;
}

.principal-section dt,h3,p{
    margin-bottom: 1vh;
    right: -31vh;
}

.principal-section dd,p{
    margin-bottom: 4vh;
    right: -65vh;
}

.txt{
 justify-content: center;
}