*{
  margin: 0;  
  font-family: Montserrat, sans-serif;
  padding: 0;
  box-sizing: border-box;
  color: 222831;
}
body{
min-height: 100vh;
background-color: #EEEEEE;
margin: auto;
margin-top: 1vh;
width: 960px;
}
/* Tittle */
h1{
min-height: 2vh;
font-size: 5vh;
margin: 1vh;
margin-bottom: 2%;
text-align:center;
top: 2vh;
left: 10vh;
}

nav{
    background-color: #222831;
    height: 40vh;
    display: flex;  
    flex-wrap: wrap;
    margin-bottom: 12vh;
    justify-content: center;
    align-items: center;
}
    

.nav-item:hover{
    background-color: #EEEEEE;
    color: #222831
}
.nav-box{
    display: flex;
    justify-content: space-evenly;

}
/*NAV ITEMS*/
.nav-item{   
    width: auto;
    font-weight: 600;
    z-index: 1;
    font-size: 2.5vh;
    background-color: #222831;
    color: whitesmoke;
    padding: 1vh 4vh;
    text-decoration: none;
    margin: 0 70px 0px 0px;
    } 

    /*HOLA*/
    
/*Image Nav*/
nav img {   
z-index: 1;   
/*position: relative;*/
/*top: 4%;*/
align-self: flex-end;
width: 100%;
height: 40vh;
object-fit:cover; 
justify-content: center;
}


#subtittle{
font-size: 3vh;
border: #222831 5px solid;
width: 100%;
left: 0;
margin-top: 1rem;
text-align: center;
padding: 1vh;
border-radius: 5px;
}

/*Logo*/
#nav-logo{
position: relative;
z-index:3;
top: -17%;
width: 100%;
height: 40%;
margin: 0%;
object-fit: contain;
text-align: center;
}

.principal-section{
margin-top: 3vh;
display: block;
width: 100%;
font-size: 2.5vh;
text-align: center;
}

.principal-section dt,h3,p{
    margin-bottom: 1vh;
    right: -31vh;
}

.principal-section dd,p{
    margin-bottom: 4vh;
    right: -65vh;
}

.txt{
 justify-content: center;
}

.schedule{
    
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 2.5vh;
    margin-bottom: 8vh;
    width: 100%;
    border-collapse: collapse;
}

.schedule th,td{
padding: 10px 10vh;
}

.center-txt{
    border: #222831 5px solid;
    margin-bottom: 2vh;
}
.center-txt p{   
    margin: 1vh;
    text-align: center;
    font-size: 2vh;
}

.list-rules{
margin-top: 3vh;
width: 100%;
font-size: 2vh;
text-align: center;
}

.list-rules h3,ul{
    margin-top: 3vh;
}

.list-rules dd,li{
    margin-top: 1vh;
    margin-bottom: 1vh;
    line-height: 20px;
}

.principal-section-ms{
    margin: 5vh;
    font-size: 15px;
    text-align: center;
}