*{
  /*margin: 0;  */
  font-family: sans-serif;
  padding: 0;
  box-sizing: border-box;
  color: #FFD523;
}
body{
    min-height: 100vh;
    background-color: #2C2E43;
   margin: 5vh;
   margin-top: 1vh;
}
/* Tittle */
h1{
    animation: Color 6s linear infinite;
    
min-height: 2vh;
font-size: 5vh;
margin: 1vh;
text-align:left;
position: relative;
top: 2vh;
left: 10vh;
}
@keyframes Color{
    0%{
      color:#FFD523;
    }
    
    20%{
      color:rgb(110, 197, 149);
    }
    
    40%{
      color:whitesmoke;
    }
    
    60%{
      color:#FFD523;
    }
    
    80%{
      color:rgb(110, 197, 149);
    }
    
    100%{
      color:whitesmoke;
    }
  }
h2:hover,h3:hover{color: whitesmoke}

/*NAV ITEMS*/
.nav-item{   
font-weight: 600;
z-index: 1;
font-size: 2vh;
position: relative;
bottom: -1vh;
left: 140vh;
background-color: #FFD523;
color: black;
padding: 1vh;
text-decoration: none;
border: black 3px solid;
margin: 0.5rem;
border-radius: 5px;
    
}
.nav-item:hover{
    background-color: black;
    color: #FFd523
}

/*Image Nav*/
nav img {   
right: 1vh;
width: 100%;
height: 40vh;
object-fit:cover; 
justify-content: center;
}

nav{
    display: block;  
    margin: 0 auto;
}

#subtittle{
font-size: 3vh;
border: #FFD523 5px solid;
width: 100%;
position:relative;
left: 0;
margin-top: 1rem;
text-align: center;
padding: 1vh;
}

/*Logo*/
section img {  
position: relative;
width: 20%;
height: 22%;
}

.principal-section{
/*display: inline;*/
display: inline-flex;
width: 100%;
font-size: 2vh;
}

.principal-section dl{
    margin: 0px;
    display: inline-block;
}


.txt{
position: relative;
right: -10%;
 width: 65%;
 margin: 0%;
}


